<div class="training-overview">
	<h1 class="training-overview-h1">
		Trainingen deze week
	</h1>
	<div class="trainings_this_week">
		<% trainings_this_week = @all_training_spots.select{|x| x.date.cweek == Date.today.cweek} %>
		<%= render "dashboard/partials/training_overview", {trainings: trainings_this_week}%>
	</div>

	<h1 class="training-overview-h1">
		Trainingen komende weken
	</h1>

	<div class="trainings_this_week">
		<% trainings_upcoming = @all_training_spots.select{|x| x.date >= Date.today.end_of_week} %>
		<%= render "dashboard/partials/training_overview", {trainings: trainings_upcoming,this_week:true}%>
	</div>
</div>






