<div class="wrapper">
	<div class="product-img">
		<div class="icon-placement text-center">
			<span><%= training.date.strftime('%d') %></span>
			<br>
			<span class="margin-tp-min-15"><%= training.date.strftime('%b') %></span>
		</div>

	</div>
	<div class="product-info">
		<div class="product-text">
			<h2><%= training.start_hour %> - <%= training.end_hour %> </h2>
		</div>
		<div class="product-price-btn">


		</div>
	</div>
</div>