<div class="row bg-dark header-relative">

	<div class="col-sm-12 text-center text-white">
		<div class="col-sm-6 offset-3">
			<h1>
				UZSC
			</h1>
		</div>
		<div class="header-absolute">
			<div class="btn-group dropleft margin-left-55">
				<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Menu
				</button>
				<div class="dropdown-menu">
					<%= link_to 'Uitloggen', destroy_user_session_path, method: :delete, class: "dropdown-item text-black" %>
					<%= link_to 'Edit profiel ', edit_user_path(current_user.id), class: "dropdown-item text-black" %>
					<% if current_user.admin_user? %>
						<%= link_to 'Admin pagina ', admin_player_overview_path, class: "dropdown-item text-black" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
