<ul class="nav justify-content-center text-white navbar-dark bg-dark fixed-bottom">
	<li class="nav-item <%= 'active' if current_page?(controller: 'dashboard', action: 'index') %>">
		<%= link_to sanitize("<i class='fas fa-tachometer-alt text-white'></i>"), dashboard_index_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
		<a class="nav-link text-white" href="#">Link</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-white" href="#">Link</a>
	</li>
</ul>
