<div class="col-lg-3 col-sm-12">
	<div class="card-container margin-top-10">
		<h3><%= team_user.name %></h3>
		<div class="buttons">
			<button class="primary">
				Edit
			</button>
			<button class="primary ghost">
				Verwijder
			</button>
		</div>
		<div class="skills">
			<h6>Aantal keer getraint:</h6>
			<ul>
				<%= team_user.training_participants.count %>
			</ul>
		</div>
	</div>

</div>
